body {
    background-color: #d5e1e8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: #01414c;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

.header-img {
    width: 100px;
    height: auto;
}

h1 {
    font-family: 'Times New Roman';
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

footer {
    background-color: #01414c;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    margin-top: auto;
}

.main-content {
    padding: 20px;
    text-align: center;
}
